.footer__container {
    background-color: #6278f7;
    height: 213px;
}

.footer__itens {
    background-image: url("/public/imagens/fundo.png");
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 60px;
}

.ancorFooter__container {
    display: flex;
    gap: 35px;
    width: 254px;
}

.footer__span a{
    color: #FFF;
    text-decoration: none;
}

.ancorFooter__container svg {
    font-size: 2rem;
    color: #FFF;
}